<template>
    <div class="mytree">
        <ul class="list">
                <li @click="openFn" class='row'>
                    <span>{{options.name}}</span>
                    <p v-if="options.type==='dir'" class="btn">
                        <i @click.stop="shows(val)" v-for="(val,index) in  btnType" :key="index">{{val}}</i>
                    </p>
                    <p v-else>
                        <i @click.stop="shows('del')">del</i>
                    </p>
                </li>
                <input type="text" v-show="inpType" @keyup.enter="insertDir" v-model="val">
                <div v-show="open">
                     <tree-menus v-for="(item,index) in list" :key="index" :options="item" @delete='deleteFn'></tree-menus>
                </div>
        </ul>
    </div>
</template>
<script>
export default {
    name: 'treeMenus',
    props: ['options'],
    components: {

    },
    data () {
        return {
            open: true,
            btnType: ['dir', 'file', 'del'],
            list: [],
            val: '',
            inpType: false,
            type: ''
        }
    },
    computed: {

    },
    methods: {
        clickFn (item) {
            if (item.type === 'dir') {
                item.flag = !item.flag
            }
        },
        shows (val) {
            this.inpType = !this.inpType
            this.type = val;
            if (val === 'del') {
                this.$emit('delete', this.options.id)
                this.publish('send', Object.assign({}, this.options, {del: true}))
            }
        },
        deleteFn (id) {
            this.list = this.list.filter(item => item.id !== id);
        },
        insertDir () {
            let obj = {
                id: this.list.length,
                name: this.val,
                type: this.type
            }
            this.list.push(obj)
            this.val = ''
            this.inpType = false;
            this.publish('send', obj)
        },
        openFn () {
            if (!this.list.length) {
                return;
            }
            this.open = !this.open;
            this.inpType = false;
        },
        addFile () {
            console.log('File')
        },
        delFn () {
            console.log(1)
        }
    },
    created () {

    },
    mounted () {

    }
}
</script>
<style scoped lang="">
.mytree{
    width: 100%;
    height: 100%;
}
.list{
    width: 100%;
}
.list li{
    height: 45px;
    list-style: none;
    padding-left: 8px;
    line-height: 45px;
}
.row{
    display: flex;
}
.btn{
    color: #ccc;
    font-weight: bold;
}
.btn i{
    margin-right: 8px;
}
</style>
