<template>
    <div class="home">
        <Tree/>
        <Right/>
    </div>
</template>
<script>
import Tree from '../components/tree.vue';
import Right from '../components/right.vue'
export default {
    props: {

    },
    components: {
        Tree, Right
    },
    data () {
        return {

        }
    },
    computed: {

    },
    methods: {

    },
    created () {

    },
    mounted () {

    }
}
</script>
<style scoped lang="">
    .home{
        width: 800px;
        height: 600px;
        display: flex;
        border:solid #ccc 2px;
    }
</style>

