<template>
    <div class="right">
        {{message}}
    </div>
</template>
<script>
export default {
    props: {

    },
    components: {

    },
    data () {
        return {
            message: ''
        }
    },
    computed: {

    },
    methods: {

    },
    created () {
        this.Subscribe('send', (msg) => {
            console.log(msg)
            if (msg.type === 'dir') {
                if (msg.del) {
                    this.message = `成功删除了${msg.name}文件夹`;
                    return;
                }
                this.message = `成功创建了${msg.name}文件夹`
            } else if (msg.type === 'file') {
                if (msg.del) {
                    this.message = `成功删除了${msg.name}文件`;
                    return;
                }
                this.message = `成功创建了${msg.name}文件`
            }
        })
    },
    mounted () {

    }
}
</script>
<style scoped lang="">
    .right{
        width: 400px;
        height: 100%;
    }
</style>
