<template>
    <div class="left">
        <Mytree v-for="(item,index) in list" :key="index" :options='item' @delete='deleteFn'/>
    </div>
</template>
<script>
import Mytree from './mytree/mytree.vue'
export default {
    props: {

    },
    components: {
        Mytree
    },
    data () {
        return {
            index: '',
            list: [
                {
                    id: 1,
                    name: '一级目录',
                    type: 'dir'
                }
            ]

        }
    },
    methods: {
        deleteFn (id) {
            this.list = this.list.filter(item => item.id !== id)
        }
    },
    created () {

    },
    mounted () {

    }
}
</script>
<style scoped lang="">
    .left{
        width: 400px;
        height: 100%;
        border-right: solid #ccc 1px;
    }
</style>
